body {
 font-family: Verdana, Arial, Helvetica, sans-serif;
 }
html, body, #map, #map-canvas { 
	height: 100%; 
	margin: 0; 
	padding: 0;
}

.overlayInfo {
	position: absolute;
	top: 20px;
	left: 50%;
	width: 80%;
	margin-left: -40%;
	z-index: 5;
	pointer-events: none;
}

.addressBar { 
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	margin: 0;
	background-color: #fff; 
	list-style-type: none; 
	padding: 5px; 
	border: 2px solid #999;
	font-size: 1em;
	pointer-events: all;
}

.addressBar li { 
	font-size: 0.8em; 
	font-weight: normal; 
	line-height: 16px;
	display: inline-block; 
	padding: 0.5em 0.7em; 
	color: #444; 
}

.addressBar li:first-child { 
	width: 16%;
	font-weight: bold; 
	font-size: 1.1em;
	vertical-align: center; 
	color: #7c606b;
}

.addressBar li:nth-child(2){ width: 20%; }
.addressBar li:nth-child(3) input { 
	padding: 5px 5px 5px 5px;
	width: 100%; 
	font-size: 1.5em;
	border: 0;
	background-color: #e5eefc;
	-webkit-box-shadow: 4px 4px 5px 0px rgba(140,136,140,1);
	-moz-box-shadow: 4px 4px 5px 0px rgba(140,136,140,1);
	box-shadow: 4px 4px 5px 0px rgba(140,136,140,1);
}
.addressBar li:nth-child(3){ width: 45%; }
.addressBar li:nth-child(4){ width: 1em; }

.serviceBox { 
	font-size: 0.8em; 
	position: relative;
	top: 20px;
	left: 0;
	max-width: 220px;
	max-height: 30px;
	overflow: hidden;
	background-color: #fff; 
	padding: 5px; 
	border: 2px solid #f74978;
	pointer-events: all;
}

.serviceBox h3 {
	font-weight: bold; 
	color: #7c606b;
	margin: 0.5em 0 0.1em;
	padding-bottom: 0.8em;
	border-bottom: 1px solid #999;
}

.serviceBox  .arrows {
	display: inline-block;
	width: 20px;
	height: 13px;
	margin: 0 0 0 15px;
	background: url(../images/arrow.png) no-repeat 0 0;
	background-size: 20px auto;
}

.hideMarkers {
	padding-bottom: 10px;
	border-bottom: 1px solid #bfbfbf;
}

.serviceBox .sortRow {
	line-height: 24px;
	margin-bottom: 0.8em;
}

.serviceBox .sortRow select {
	max-width: 200px;
}

.serviceBox ul {
	list-style-type: none; 
	padding-left: 0;
}

.serviceBox li {
	padding: 5px 0 5px;
	border-bottom: 1px solid #bfbfbf;
}

.serviceBox li:hover {
	background-color: #ddd;
}

.serviceBox a {
	text-decoration: none;
}

.serviceBox th {
	border-bottom: 1px solid #999;
}

.serviceBox img {
	max-width: 200px;
}

.imageBox { 
	font-size: 0.8em; 
	position: relative;
	top: 200px;
	right: 0;
	width: 35%;
	max-height: 240px;
	border: 2px solid #999;
	pointer-events: all;
}

