body {
 font-family: Verdana, Arial, Helvetica, sans-serif;
 }
html, body, #map, #map-canvas { 
	height: 100%; 
	margin: 0; 
	padding: 0;
}

.overlayInfo {
	position: absolute;
	top: 20px;
	left: 50%;
	width: 70%;
	margin-left: -35%;
	z-index: 5;
	pointer-events: none;
}

.addressBar { 
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	margin: 0;
	background-color: #fff; 
	list-style-type: none; 
	padding: 5px; 
	border: 2px solid #999;
	font-size: 1em;
	pointer-events: all;
}

.addressBar li { 
	font-size: 0.8em; 
	font-weight: normal; 
	line-height: 24px;
	display: inline-block; 
	padding: 0.5em 0.7em; 
	color: #444; 
}

.addressBar li:first-child { 
	width: 20%;
	font-weight: bold; 
	font-size: 1.1em;
	vertical-align: top; 
	color: #7c606b;
}

.addressBar li h3 { 
}

.addressBar li:nth-child(2) input { width: 15em; }*/
.addressBar li:nth-child(3){ width: 2em; }
.addressBar li:nth-child(4){ width: 10em; }

.serviceBox { 
	font-size: 0.8em; 
	position: relative;
	top: 20px;
	left: 0;
	width: 35%;
	max-height: 350px;
	overflow: scroll;
	background-color: #fff; 
	list-style-type: none; 
	padding: 5px; 
	border: 2px solid #999;
	pointer-events: all;
}

.serviceBox h3 {
	font-weight: bold; 
	color: #7c606b;
	margin-top: 0.5em;
	margin-bottom: 0;
	border-bottom: 1px solid #999;
}

.serviceBox .sortRow {
	line-height: 24px;
	margin-bottom: 0.8em;
}

.serviceBox th {
	border-bottom: 1px solid #999;
}

.serviceBox img {
	max-width: 200px;
}

.imageBox { 
	font-size: 0.8em; 
	position: relative;
	top: 200px;
	right: 0;
	width: 35%;
	max-height: 240px;
	border: 2px solid #999;
	pointer-events: all;
}

